<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>

        <meta name="language" content="English">

        {{#if description}}
        <meta name="description" content="{{description}}">
        {{/if}}

        {{#if keywords}}
        <meta name="keywords" content="{{keywords}}">
        {{/if}}

        <meta name="author" content="Mamod Mehyar - Sweefty.com">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!-- CSS Files -->
        {{#each default_css}}
        <link rel="stylesheet" href="{{this}}">
        {{/each}}

        <!-- JAVASCRIPT  Files -->
        {{#each default_javascript}}
        <script src="{{this}}" type="text/javascript"></script>
        {{/each}}
        {{#each javascript}}
        <script src="{{this}}" type="text/javascript"></script>
        {{/each}}

        <!-- FONTS -->
        {{#each fonts}}
        <link href='{{this}}' rel='stylesheet' type='text/css'>
        {{/each}}

        <script src="{{assets}}/js/tinytip.js"></script>
        <script src="{{assets}}/js/moaModal.js"></script>
    </head>

    <body id="">
{{> content}}
    </body>
</html>
